body{
   font-family: "Montserrat", sans-serif;
   margin: 0;
   background-color: black;
   color: white;
   overflow: hidden;
}
.main{
    display: flex;
    height: 100vh;
    padding: .5rem;
   
}
.sidebar{
    background-color: black;
    width: 340px;
    border-radius: 1rem;
    margin: 0.7rem;
}
.main-contant{
    background-color: #121212;
    flex: 1;
    border-radius: 1rem;
    overflow: auto;
     padding-left: 2rem ;
}
.music-player{
    background-color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 72px;
}
a{
    text-decoration: none;
    color: white;
}
.nav{
    background-color: #121212;
     border-radius: 1rem;
     display: flex;
     flex-direction: column;
     justify-content: center;
     height: 100px;
     padding: 0.5rem 0.75rem;
}
.nav-option{
    line-height: 2.5rem;
    opacity: 0.6;
    padding: 0.5rem .75rem;
}
.nav-option:hover{
    opacity:1;
}
.nav-option i{
    font-size: 1.25rem;
}
.nav-option a{
    font-size:1rem ;
    margin-left: 1rem;
}


.librery{
    background-color: #121212;
    border-radius: 1rem;
    height: 100%;
    margin-top: 0.75rem;
    padding: 0.5rem .75rem;
}
.option{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.li-option img{
    height: 1.25rem;
    width: 1.25rem;
}
.icon{
    display: flex;
    font-size: 1.25rem;
}
.icon i{
    margin-right: 1.25rem;
    opacity: .7;
}
.icon i:hover{
    opacity: 1
}

.box{
    height: 8.5rem;
    background-color: #232323;
    border-radius: 1rem;
    margin: 0.75rem 0 1.75rem 0;
    padding: 0.5rem 1rem;
}
.box-p1{
    font-size: 1rem;
    font-weight: 600;


}
.box-p2{
    font-size: .75rem;
    opacity: 0.9;
}
.budge{
    background-color: white;
   padding: 0.rem 1rem;
   border:none;
   border-radius: 100px;
   font-weight: 700;
   margin-top: 1.25rem;
   height: 2rem;
   width: fit-content;
}
.dark-unc{
    background-color: #000;
    color: #fff;
}
.sticky{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    background-color: #121212;
    align-items: center;
    padding: 1rem 0 1rem 0;
    z-index: 10;
}
.sticky-nav{
   margin-left: 0.8rem;

}
.sticky-option{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 1rem;

}
.na-spac{
    margin-left: 0.8rem;
   
}
.icons-h{
    padding-top: 1rem;
}
@media(max-width:1000px){
    .hide{
        display: none;
    }
}
.card{
    background-color: #232323;
    width: 150px;
    height: 260px;
    border-radius:  0.5rem;
    padding:1rem;
    margin: 1.5rem;
    margin-top: 1rem;
}
.card-container{
    display: flex;
    flex-wrap: wrap;


}
.card-img{
    width: 100%;
    border-radius:  0.5rem;
    
}
.card-title{
    padding-bottom: 0.76rem;
    font-weight: 700;

}
.card-info{
    font-weight: 600;
    opacity: 0.6;
    font-size: 0.85rem;
}
.footer{
    height:200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.line{
    width: 90%;
   opacity: 0.4;
    border: 1px solid white;
}
.music-player{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.album{
    width: 25%;

   
}

.player{
    width: 50%;
}
.control{
    width: 25%;
    height: 50%;
   
}
.player-controls-icon{
    height: 1rem;
    margin-right: 1.7rem;
    opacity: 0.7;
}
.player-controls-icon:hover{
    opacity: 1;
}
.player-controls{
     display: flex;
    justify-content: center;
    align-items: center;
}
.playbacks-bar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.progree-bar{
    width: 55%;
    appearance: none;
    background-color: transparent;
    cursor: pointer;
}
.progree-bar::-webkit-slider-runnable-track{
    background-color: #ddd;
    height: 0.2rem;
    border-radius: 100px;
}
.progree-bar::-webkit-slider-thumb{
    appearance: none;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    background-color: #1bd760;
    margin-top: -6px;
}
.album-play{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: left;
    padding-left: 5px;
}
.album-play img{
    width: 15%;
    margin-bottom: 5px;
}
.album-info{
    margin-left: 10px;
    line-height: 0;
    font-size: 0.90rem;
    margin-bottom: 5px;
}
.album-icon{
    margin: 10px;
    justify-content: center;
    align-items: center;
    opacity: 0.8;
}
.color{
    height: 20px;
    /* width: 20px;
    background-color: red; */
    border: 2px solid rgb(26, 211, 69);
    margin: 2rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
   
    
}
.photo{
    padding-left: 5px;
   padding-top: 20px;

}
.album{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border: 2px solid rgb(159, 38, 38);
    
}
.color img{
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;

}
.upper{
    
      height: 10px;
    font-weight: 700;
}
.sat{
    position: absolute;
    bottom: 0px;
   left: 120px;
}
